<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    
    <!--HP Laptop Database-->
    <add name="PlanGPSContext" 
         connectionString="Data Source=HPLAPTOP-CONSUL\SQLEXPRESS;Initial Catalog=PlanGPS;Integrated Security=True" 
         providerName="System.Data.SqlClient" />

    <!--DC1DoseTracker Server one for integrated auth, the other for user auth-->
    <!--<add name="BHS021971" connectionString="data source=DC1CTDTRACKER\RADARQASERVER;initial catalog=radarqa;persist security info=True;user id=radaruser;password=RadarPhysics90;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    
    <!--Physics QA Server Db-->
    <!--<add name="PlanGPSContext" 
         connectionString="data source=DC1RADPHYSICSQA\PHYSICSQASQLSRVR;initial catalog=PLANGPS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" 
         providerName="System.Data.SqlClient" />-->

    <!--MacBook Pro-->
    <!--<add name="radarqaEntities" connectionString="data source=JEFFGARRETTCC1C\SQLEXPRESS2014;initial catalog=radarqa;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->

    <!--Office PC-->
    <!--<add name="radarqaEntities" connectionString="data source=BHS021971\SQLEXPRESS2014;initial catalog=radarqa;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>

</configuration>